body {
}
#lbTitulo {
    align-content: center;
}
#conteudo-esquerda-label {
    /*Novamente definimos a largura da div*/
    width: 140px;
    /* altura da div */
    height: 1000px;
    /* O atributo Float é utilizado para fazermos o nosso bloco(div)
  literalmente flutue e se posicione onde queremos na página,
  quando escolhemos left, dizemos que esse bloco irá se posicionar na
  parte esquerda da página */
    float: left;
}

#conteudo-esquerda {
    /*Novamente definimos a largura da div*/
    width: 553px;
    /* altura da div */
    height: 1000px;
    /* O atributo Float é utilizado para fazermos o nosso bloco(div)
  literalmente flutue e se posicione onde queremos na página,
  quando escolhemos left, dizemos que esse bloco irá se posicionar na
  parte esquerda da página */
    float: left;
}

#conteudo-direita-label {
    /*Novamente definimos a largura da div*/
    width: 104px;
    /* altura da div */
    height: 1000px;
    /* O atributo Float é utilizado para fazermos o nosso bloco(div)
  literalmente flutue e se posicione onde queremos na página,
  quando escolhemos left, dizemos que esse bloco irá se posicionar na
  parte esquerda da página */
    float: left;
}

#conteudo-direita {
    /*Novamente definimos a largura da div*/
    width: 625px;
    /* altura da div */
    height: 1000px;
    float: left;
}