@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

html, body {
    width: 100%;
    height: 100%;
    font-family: Ubuntu;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-family: Ubuntu;
}
main {
    flex-grow: 1;
    padding: 30px;
}

nav, main, footer {
    flex-shrink: 0;
}

header {
    height: 300px;
    
}
#rosto {
    text-align: center;
    height: 300px;
}
.titulo {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
    left: 34px;
    top: 177px;
    width: 244px;
    height: 104px;
}

nav {
    display: flex;
}

footer {
    padding-top: 1.5rem;
    border-top: 1px solid;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    align-content: center;
    padding: 15px;
}

nav ul {
    margin-left: -15px;
    margin-top: 10px;

}
.nav-link {
    display: block;
    padding: .5rem 1rem;
}
a {
    color: #000000;
    text-decoration: none;
    background-color: transparent;
}
a:hover {
    color: #003bff;
}

ul li {
    display: inline;
    margin-right: 20px;
}
li {
    display: list-item;
}



.margens {
    margin-left: auto;
    margin-right: auto;
    max-width: 83.333333%;
}

.border {
    border-color: #000000;
    border: 1px solid #000000;
    border-radius: .25rem;
}

.posicao {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

/*-------------*/

.logo {
    left: 0px;
    height: 80px;
    padding: 10px;
    margin-right: 40px;
}

/*.logoVinhao {
    position: absolute;
    left: 12px;
    width: 250px;
    padding: 10px;
    top: 12px;
}*/

.menu {
    max-width: 100%;
    height: 100%;
    text-align: center;
}