<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DALL.Properties.Settings.vinhao" connectionString="Data Source=localhost;Initial Catalog=Vinhao;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>